Flask==3.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
Werkzeug==3.0.1
Jinja2==3.1.2
itsdangerous==2.1.2
WTForms==3.1.1
SQLAlchemy==2.0.27
mysql-connector==2.2.9
sqlparse==0.4.4
python-dotenv==0.21.1
email-validator==2.1.0.post1
blinker==1.7.0
gunicorn==22.0.0
tqdm==4.66.2
requests==2.31.0
urllib3==2.1.0
idna==3.6
charset-normalizer==3.3.2
certifi==2023.11.17
APScheduler==3.10.4
tzdata==2024.1
tzlocal==5.2
pytz==2024.1
six==1.16.0
