{% extends 'layout.html' %}
{% block head %}
    <title>{{title}}</title>
    <link href="{{url_for('static', filename='css/pals.css')}}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">
{% endblock head %}
	
{% block body %}
    <header class="header" id="home">
        <h1>Welcome to Digital Read</h1>
    </header>
	<div class="digital_read_form content-section" id="home">
		<div class="form-container" style="align:right;">
			<div class='flashed container'>
		    		{% for message in get_flashed_messages() %}
		    		<div class="alert alert-danger alert-dismissible fade show typing-animation" role="alert">
		    			<p class="typing-animation">
		    				{{message}}
		    			</p>
		    	  	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
		    		</button>
		    		</div>	
		    		{% endfor %}
		    	</div>
        <h2>Please login </h2>
        <form method=post>
            <div class="form-group">
		{{ form.hidden_tag() }}
		{{form.card_number.label(class="form-label")}}
		{{form.card_number(class="form-control", id="name")}}
			
		<!--get the pals_name and pals_image that the user will be using for the current
			session and also will these will be used in the pals and store them in a session-->
		{% if form.card_number.errors %}
		    {% for error in form.card_number.errors %}
		        <p class="fw-lighter">{{error}}</p>
		    {% endfor %}
		{% endif %}
            </div>
            <div class="form-group">
		{{form.password.label(class="form-label")}}
		{{form.password(class="form-control", id="name")}}
		{% if form.password.errors %}
		    {% for error in form.password.errors %}
		        <p class="fw-lighter">{{error}}</p>
		    {% endfor %}
		{% endif %}
            </div>
		{{form.submit(class="btn")}}
        </form>
    </div>
</div>
{% endblock body%}

{% block footer %}
{% endblock footer %}
