{% extends 'layout.html' %}

{% block head %}
    <title>{{title}}</title>
	<link href="{{url_for('static', filename='css/pals.css')}}" rel="stylesheet">
{% endblock head %}

{% block body %}

    <div class='flashed container'>
    	{% for message in get_flashed_messages() %}
    	<div class="alert alert-danger alert-dismissible fade show typing-animation" role="alert">
    		<p class="typing-animation">
    			{{message}}
    		</p>
    	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    	</button>
    	</div>	
    	{% endfor %}
    </div>

<span class='container col-xl-10 col-xxl-8 px-4 py-5'>
    <form class="login-container" method=post>
	    {{ form.hidden_tag() }}
		<div class="mb-3">
		{{form.card_number.label(class="form-label")}}
		{{form.card_number(class="form-control", id="exampleFormControlInput1")}}
			
		<!--get the pals_name and pals_image that the user will be using for the current
			session and also will these will be used in the pals and store them in a session-->
		{% if form.card_number.errors %}
		    {% for error in form.card_number.errors %}
		        <p class="fw-lighter">{{error}}</p>
		    {% endfor %}
		{% endif %}
		</div>
		<div class="mb-3">
		{{form.password.label(class="form-label")}}
		{{form.password(class="form-control", id="exampleFormControlInput1")}}
		{% if form.password.errors %}
		    {% for error in form.password.errors %}
		        <p class="fw-lighter">{{error}}</p>
		    {% endfor %}
		{% endif %}
		</div>
	    <div>
		    {{form.submit(class="btn btn-outline-primary btn_cancel")}}
		</div>
		<hr class="my-4">
        <small class="text-muted">By clicking Grant Access, you agree to the terms and conditions of use.</small>

	 </form>
</span>


<!-- Art -->	
<div>
  <p><a href="https://drive.google.com/file/d/18d6CmwGKuSVtM_bnM0UlpR1FV-xBwO8A/view?usp=drive_link">Introducing Art</a></p>
  <iframe class="pdf-container" id="pdf-container" src="https://drive.google.com/file/d/18d6CmwGKuSVtM_bnM0UlpR1FV-xBwO8A/view?usp=drive_link"></iframe>	
</div>		

<!-- Religion -->	
<h5><a href="#">Divinity</a></h5>
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSC4ChEaymUNCDz6D_MU_8bgF2jwxVBruh98xSApaflqHsNrD_Z081v05-Amh-xBfX77ygWo2lOTvzG/pub?embedded=true"></iframe>	
</div>


<!-- Languages -->	
<div class="pdf-container" id="pdf-container">
  <h3>Swahili Recap</h3>
  <h5><a href="#">Introducing Art</a></h5>
  <iframe class="pdf-frame" id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSC4ChEaymUNCDz6D_MU_8bgF2jwxVBruh98xSApaflqHsNrD_Z081v05-Amh-xBfX77ygWo2lOTvzG/pub"></iframe>	

 <h5><a href="https://drive.google.com/file/d/1dg7KFLe2_k-q2HuOt2NUn-8m7iMbPX_O/view?usp=sharing">French Year 1</a></h5>
 <iframe class="pdf-frame" id="pdf-container" src="https://drive.google.com/file/d/1dg7KFLe2_k-q2HuOt2NUn-8m7iMbPX_O/view?usp=sharing"></iframe>

 <h5><a href="https://drive.google.com/file/d/1Ea_-OR6sn9IlZRh7PIUwNUWvIGXptQ0P/view?usp=sharing">French Year 1</a></h5>
 <iframe class="pdf-frame" id="pdf-container" src="https://drive.google.com/file/d/1Ea_-OR6sn9IlZRh7PIUwNUWvIGXptQ0P/view?usp=sharing"></iframe>
</div>



	<script>
        // Disable right-click context menu
        document.addEventListener('contextmenu', function(e) {
            e.preventDefault();
        });

        // Prevent printing
        window.addEventListener('beforeprint', function(e) {
            e.preventDefault();
        });

        // Disable keyboard shortcuts for printing
        document.addEventListener('keydown', function(e) {
            if (e.ctrlKey && (e.key === 'p' || e.key === 's')) {
                e.preventDefault();
            }
        });
    </script>

{% endblock body%}

{% block footer %}
{% endblock footer %}
