{% extends "layout.html" %}

{% block head %}
	<title>{{title}}</title>
{% endblock head %}

{% block body %}
<div class='flashed'>
		{% for message in get_flashed_messages() %}
		<div class="alert alert-primary alert-dismissible fade show typing-animation" role="alert">
			<p class="typing-animation">
				{{message}}
			</p>
	  	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
		</button>
		</div>	
		{% endfor %}
</div>

<form class="row g-3" enctype="multipart/form-data" method=POST>
    {{form.hidden_tag()}}
	<div class="col-md-12">
	
	<div class="mb-3">
		{{form.name.label(class="form-label")}}
		{{form.name(class="form-control", id="exampleFormControlInput1")}}

		{% if form.name.errors %}
			{% for error in form.name.errors %}
		        <p class="fw-lighter">{{error}}</p>
		    {% endfor %}
		 {% endif %}
		 </div>
		 
	<div class="mb-3">
		{{form.email.label(class="form-label")}}
		{{form.email(class="form-control", id="exampleFormControlInput1")}}
		{% if form.email.errors %}
		    {% for error in form.email.errors %}
	        	<p class="fw-lighter">{{error}}</p>
			{% endfor %}
		{% endif %}
	</div>

    <div class="mb-3">
		{{form.copies.label(class="form-label")}}
		{{form.copies(class="form-control", id="telephone_number")}}

		{% if form.copies.errors %}
			{% for error in form.copies.errors %}
		        <p class="fw-lighter">{{error}}</p>
		    {% endfor %}
		{% endif %}
	</div>
            
	<div class="mb-3">
		{{form.password.label(class="form-label")}}
        <br>
		{{form.password(class="form-control", id="exampleFormControlInput1")}}
		 {% if form.password.errors %}
		    {% for error in form.password.errors %}
		    	<p class="fw-lighter">{{error}}</p>
			{% endfor %}
		{% endif %}
	</div>	 
	<div>
		{{form.submit(class="btn btn-outline-primary")}}
	</div>
</form>

{% endblock body %}