{% extends 'layout.html' %}

{% block head %}
    <title>{{ title }}</title>
	<link href="{{url_for('static', filename='css/pals.css')}}" rel="stylesheet">
{% endblock head %}

{% block body %}

    <nav class="container navbar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('view_bp.View') }}">
                    <b>Library</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('pals_bp.Pals') }}">
                    <b>
                        <img height=30px width=30px class="img-fluid rounded" src='#' ">
                    </b>
                </a>
            </li>
        </ul>
    </nav>

    <div class='flashed container'>
        {% for message in get_flashed_messages() %}
            <div class="alert flash_info alert-dismissible fade show" role="alert">
                <p class="typing-animation">
                    {{ message }}
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        {% endfor %}
    </div>

<div class="chat-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div  class="chat-messages" style="overflow-y: scroll; height: 100%;">
                   {% if sent_messeges %}
                    	{% for row in sent_messeges %}
						    <p  class="chat-message received message">{{ row[3] }}</p>
							<p  class="chat-message sent message">{{ row[3] }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
	<span>
	    <form class="rounded-2" method=post>
		    {{ form.hidden_tag() }}
			<div class="mb-2">

				<nav class="container navbar navigation">
        		<ul class="nav nav-pills">
            		<li class="nav-item">
                		{{form.text(class="chat-input col-md-6", id="myTextarea")}}
            		</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            		<li class="nav-item">
               			{{form.submit(class="btn btn-outline-primary chat-input btn_info")}}
            		</li>
        		</ul>
    			</nav>
				{% if form.text.errors %}
				    {% for error in form.card_number.errors %}
				        <p class="fw-lighter">{{error}}</p>
				    {% endfor %}
				{% endif %}			
			</div>	
		 </form>
	</span>
	
<hr class="my-4">
{% endblock body %}