{% extends 'layout.html' %}
{% block head %}
	<title>{{title}}</title>
{% endblock head %}

{% block body %}

<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>

	<span class='container'>
	    <div class='flashed'>
	    	{% for message in get_flashed_messages() %}
	    	<div class="alert alert-info alert-dismissible fade show typing-animation" role="alert">
	    		<p class="typing-animation">
	    			{{message}}
	    		</p>
	    	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
	    	</button>
	    	</div>	
	    	{% endfor %}
	    </div>

<br>
		
<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

		
<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">
		
<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4"> 

		
<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">

<!-- Religion -->	
<div class="dropdown fixed-top classes">
    <button class="btn btn_info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse Library Sections</button>
    <ul class="dropdown-menu">
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#religion">Religion Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#physics">Physics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#mathematics">Mathematics Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#languages">Languages</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#ict">ICT Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#history">History Section</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#geography">Geography</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#chemistry">Chemistry</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#business">Business</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#biology">Biology</a></li>
      <li><a style="color: white;" class="dropdown-item dropdown-header" href="#art">Art</a></li>
    </ul>
</div>
<!-- end of drop down-->
<div>
  <iframe class="pdf-container " id="pdf-container" src="https://docs.google.com/document/d/e/2PACX-1vSmbxTyuxfL8aNEEf_RdFx3eRpDUdXKjc13K5NDS7V53q_U31nprF1qa1amm_Y6qRD6SJuSKs2SeKxH/pub?embedded=true"></iframe>	
</div>
<hr class="my-4">
	
	<script>
        // Disable right-click context menu
        document.addEventListener('contextmenu', function(e) {
            e.preventDefault();
        });

        // Prevent printing
        window.addEventListener('beforeprint', function(e) {
            e.preventDefault();
        });

        // Disable keyboard shortcuts for printing
        document.addEventListener('keydown', function(e) {
            if (e.ctrlKey && (e.key === 'p' || e.key === 's')) {
                e.preventDefault();
            }
        });
    </script>


{% endblock body %}
